.b1{
    background-color: blue;
    border: none;
    font-size: medium;
    color: rgb(219, 217, 217);
    cursor: pointer;
    text-align: center;
    border-radius: 16px;
    text-decoration: none;
    margin: 4px 2px;
   
    


   
  
}